@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.nunito-regular {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.nunito-logo {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: italic;
}
/* 
div {
    border: 1px dashed gray;
}

section {
    border: 1px dashed blue;
} */


@layer reset {
    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}


@layer ui-kit {
    :root {
        --main-color-green: #A9E08C;
        --main-color-red: #FB6574;
        --bright-green: #2EB872;
        --beige: #FEFEE5;
        --b-radius: 10px;
        font-size: clamp(1rem, 2,5vw, 1.5rem);
    }
}


@layer layout {
    .container {
        max-width: 1140px;
        width: 80%;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .header__nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .header__nav-menu,
    .logo {
        display: flex;
        align-items: center;
    }

    .section-1__container {
        display: flex;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .section-1__left-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .section-2__container,
    .section-3__container,
    .section-4__container {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .section-2__title {
        padding-bottom: 1rem;
    }

    .section-2__content-box {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .section-2__card-item {
        width: 170px;
        overflow: hidden;
        object-fit: fill;
    }

    .section-3__content-box {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        gap: 2rem;
        div {
            position: relative;
        }
    }
    
    .section-3__text-box {
        img {
            float: left;
            margin-top: 3px;
        }
    }

    .section-3__image-box img {
        object-fit: cover;
        object-position: top;
    }

    .section-3__text {
        flex: 1 1 auto;
        max-width: 40vw;
    }

    .section-4__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-4__content-box {
        display: flex;
        align-items: center;
        max-width: 90%;
        padding: 1.2rem 1.8rem;
        /* gap: 5rem; */
    }

    .section-4__right-wrapper {
        justify-content: center;
        
    }

    .footer {
        height: 4rem;
    }

    .footer__container {
        display: block;
        text-align: center;
        padding-top: 1rem;
    }
}


/* decoration */

@layer decoration {
    .header,
    .section-3,
    .footer {
        background-color: var(--beige);
    }

    .section-1,
    .section-3 {
        background-image: linear-gradient(
        180deg,
        hsl(60deg 93% 95%) 0%,
        hsl(60deg 93% 95%) 14%,
        hsl(60deg 93% 95%) 25%,
        hsl(60deg 93% 96%) 35%,
        hsl(60deg 94% 96%) 44%,
        hsl(60deg 94% 96%) 52%,
        hsl(60deg 94% 97%) 59%,
        hsl(59deg 94% 97%) 65%,
        hsl(59deg 95% 97%) 70%,
        hsl(59deg 95% 98%) 75%,
        hsl(59deg 95% 98%) 80%,
        hsl(59deg 95% 98%) 84%,
        hsl(59deg 96% 98%) 87%,
        hsl(59deg 96% 99%) 90%,
        hsl(59deg 96% 99%) 93%,
        hsl(59deg 96% 99%) 96%,
        hsl(59deg 97% 100%) 98%,
        hsl(0deg 0% 100%) 100%
        );
    }

    .section-1__text {
        padding-right: 1rem;
    }

    .section-1__figure {
        img {
            border-radius: var(--b-radius);
        }
        figcaption {
            font-size: 0.55rem;
            text-align: right;
            color: rgb(170, 170, 170);
            a {
                color: rgb(170, 170, 170);
            }
        }
    }

    .section-4__text {
        width: 65%;
    }
    .section-3__image-box {
        img {
        border-radius: var(--b-radius);
        }
        figcaption {
            font-size: 0.55rem;
            text-align: right;
            color: rgb(170, 170, 170);
            a {
                color: rgb(170, 170, 170);
            }
        }
    }
    .section-4__content-box {
        /* background-color: var(--main-color-green); */
        border-radius: var(--b-radius);
        background-image: linear-gradient(to bottom right, #d4f5c2, var(--main-color-green));
    }

    .nav-menu {
        display: flex;
        list-style-type: none;
        gap: 4rem;
        a {
            text-decoration: none;
            color: var(--bright-green);
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    .button {
        padding: 0.5rem 1.2rem;
        border: none;
        border-radius: 10px;
        /* background-color: var(--main-color-green); */
        background-color: var(--main-color-red);
        color: white;
    }

    .title {
        /* color: var(--main-color-red) */
        color: var(--bright-green)
    }

    .hero-message {
        color: var(--bright-green);
        font-size: 2rem;
        span {
            color: var(--main-color-red);
        }
    }

    .text {
        font-weight: 300;
        margin-bottom: 1rem;
    }

    .footer__text {
        font-size: 0.75rem;
        color: rgb(170, 170, 170);
    }

    .title {
        margin-bottom: 0.75rem;
    }

    .card-item {
        figcaption {
        font-size: 0.55rem;
        text-align: right;
        color: rgb(170, 170, 170);
        padding-bottom: 0.5rem;
        }
        a {
            color: rgb(170, 170, 170);
        }
        p {
            font-size: 14px;
        }
        img {
            border-radius: var(--b-radius);
        }    
    }

    .title_gradient {   
        background: -webkit-linear-gradient(
            110deg,
            hsl(354deg 95% 69%) 0%,
            hsl(1deg 92% 69%) 15%,
            hsl(8deg 89% 66%) 21%,
            hsl(14deg 84% 63%) 27%,
            hsl(20deg 79% 59%) 31%,
            hsl(26deg 74% 56%) 36%,
            hsl(31deg 68% 52%) 40%,
            hsl(37deg 65% 49%) 44%,
            hsl(42deg 66% 46%) 48%,
            hsl(48deg 65% 44%) 52%,
            hsl(55deg 61% 42%) 56%,
            hsl(64deg 56% 41%) 60%,
            hsl(73deg 51% 44%) 64%,
            hsl(84deg 46% 46%) 68%,
            hsl(97deg 40% 49%) 73%,
            hsl(114deg 38% 52%) 79%,
            hsl(134deg 42% 50%) 85%,
            hsl(150deg 60% 45%) 100%
        
        );  
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}
